@font-face {
    font-family: '../fonts/pt_sansregular';
    src: url('PTS55F-webfont.eot');
    src: url('PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('PTS55F-webfont.woff') format('woff'), url('PTS55F-webfont.ttf') format('truetype'), url('PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.dasboard-container {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    align-items: stretch;
}

    .dasboard-container > .dashboard-header {
        display: flex; 
        justify-content:flex-end;
        -ms-flex: 3 1 100%;
        flex: 3 1 100%;

        margin-bottom: 0;
        padding: 0 10px;
        order: 1;
        border-radius: 0;
        height: 8% !important;
        min-height: 8%;
        background-color: #2c3e50;
        background-image: url('img/logo.png');
        background-repeat: no-repeat;
        background-position: 10px;
    }

    .dasboard-container > .dashboard-header > div {
        align-self: center;
        margin-left: 15px;
    }

    .dasboard-container > .dashboard-header > form {
        align-self: center;
        margin-bottom: 0;
        margin-left: 15px;
    }

.dashboard {
    display: -webkit-flex;
    display: flex;
    order: 2;
    height: 92%;
}

    .dashboard > h1, .dashboard > h2, .dashboard > h3, .dashboard > h4 {
        font-family: 'pt_sansregular';
    }

    .dashboard > aside {
        order: 1;
        background: #fff;
        padding: 10px;
        width: 320px;
        align-self: stretch;
    }

    .dashboard > .dashboard-content {
        -ms-flex: 3 1 60%;
        flex: 3 1 60%;
        order: 2;
        display: -webkit-flex;
        display: flex;
        background: #A0A0A0;
        overflow-x: auto;
    }

        .dashboard > .dashboard-content > article {
            background: #E0E0E0;
            border: solid 1px #A0A0A0;
            border-left: none;
            border-radius: 0 0 0 0 !important;
            -ms-flex: none;
            flex: none;
            width: 350px;
            overflow-y: auto;
        }

            .dashboard > .dashboard-content > article > hr {
                border-color: #A0A0A0;
            }

            .dashboard > .dashboard-content > article > h4 {
                color: #333;
                text-align: center;
            }

            .dashboard > .dashboard-content > article > div {
                margin: 10px;
                border-radius: 0 0 0 0 !important;
                zoom: 0.85;
            }

            .dashboard > .dashboard-content > article div {
                border-radius: 0 0 0 0 !important;
            }

::-webkit-scrollbar {
    width: 6px; /* for vertical scrollbars */
    height: 10px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
}
